.floating-nav{
  position:fixed;
  top: 200px;
  left: 50px;
  z-index: 1000;
}
.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
	font-family: 'Chakra Petch', sans-serif;
}
a.nav-link.navbar-link:hover,
a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}