.outer-body {
	display: flex;
	justify-content: center;
}
.inner-body {
	background-color: white;
	margin-top: 30px;
	overflow: hidden;
}

.Row {
	margin-bottom: 50px;
	border-bottom: 2px solid lightgrey;
}
.row-4 {
	border: none;
}
.title {
	font-family: 'Montserrat', sans-serif;
	color: lightseagreen;
}
.tech-image {
	max-height: 70px;
	max-width: 160px;
	margin: 5px;
}
.column-content {
	justify-content: center;
	align-items: center;
}
